<footer>
  <div class="footer-content">
    <a href="https://luan-tech.vercel.app/" target="_blank"><img src="/luan-logo.png" alt=""></a>
    <div class="redes-footer">
      <a class="icones" href="https://instagram.com/luanmachadoyt" target="_blank"><i
          class="fa-brands fa-instagram"></i></a>
      <a class="icones" href="https://github.com/machadoluan" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a class="icones" href="https://www.linkedin.com/in/luanmachadojs/" target="_blank"><i
          class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="direitos">
      <p>Todos os direitos reservados ©</p>
    </div>
  </div>
</footer>
