header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  position: fixed;
  width: 100%;
  z-index: 999;

  &.scrolled {
    background-color: #1212128a;
    backdrop-filter: blur(5px);
  }

  .first {
    display: flex;
    gap: 2rem;
    align-items: center;

    .logo img {
      width: 50px;
    }

    nav {
      li {
        display: flex;
        gap: 1rem;

        span {
          color: white;
          font-weight: 200;
          cursor: not-allowed;
          transition: all 500ms ease-in-out;

          &:hover {
            color: #d1d1d1;
          }

          &.home {
            cursor: pointer;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              bottom: -3px;
              left: 0;
              width: 100%;
              height: 2px;
              background-color: white;
              transform: scaleX(0);
              transition: transform 500ms ease-in-out;
            }

            &:hover {
              color: white;
            }

            &:hover::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  .secundary {
    display: flex;
    gap: 2rem;
    align-items: center;

    .search {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 1rem;
      border-radius: 50px;
      height: 40px;
      position: relative;
      transition: all 500ms ease;

      i {
        color: #fff;
        cursor: pointer;
      }


      input {
        color: #ffff;
        background-color: transparent;
        border: none;
        outline: none;
        display: none;
        width: 100%;

        &::placeholder {
          color: #909090;
        }
      }
    }

    i {
      cursor: pointer;
    }
  }



}



@media screen and (max-width: 500px) {
  .first {
    nav {
      display: none;
    }
  }
}
