<header [ngClass]="{'scrolled': isScroll}">

  <div class="first" >
    <div class="logo">
      <a href="/"><img src="logo.png" alt=""></a>
    </div>
    <nav>
      <li>
        <span class="home">Home</span>
        <span>Movies</span>
        <span>Series</span>
        <span>kids</span>
      </li>
    </nav>
  </div>

  <div class="secundary">
    <div class="search" #myDiv >
      <i class="fa-solid fa-magnifying-glass" (click)="search()"></i>
      <input #input type="text" name="search" id="search" placeholder="Search" (keyup)="onSearch(input)">
    </div>
    <i class="fa-solid fa-bell" style="color: #ffffff;"></i>
    <i class="fa-solid fa-user" style="color: #ffffff;"></i>
  </div>

</header>
